.statcard-number {
  margin-top: 0;
  margin-bottom: 0;

  .label {
    padding: .125em .5em;
    font-size: 50%;
    vertical-align: middle;
  }
}

.statcard-desc {
  font-size: 85%;
  letter-spacing: .15em;
  color: lighten($gray, 20%);
  text-transform: uppercase;
}


.delta-indicator {
  display: inline-block;
  padding: .4em;
  font-size: 12px;
  vertical-align: middle;
}

.delta-positive {
  color: $brand-success;

  &:after {
    @extend .caret;
    content: "";
    border-top: 0;

  }
}

.delta-negative {
  color: $brand-danger;

  &:after {
    @extend .caret;
    content: "";
  }
}

.statcard-secondary {
	border-radius:$border-radius;
}

.statcard-primary,
.statcard-success,
.statcard-info,
.statcard-warning,
.statcard-danger,.statcard-secondary {
  color: #fff;
  border-radius:$border-radius;

  .delta-negative,
  .delta-positive,
  .statcard-number { 
    font-weight: 300;
    color: inherit;
  }

  .statcard-desc {
    font-weight: normal;
    color: rgba(255,255,255,0.65);
  }

  .statcard-hr {
    margin-left: -20px;
    margin-right: -20px;
    border-top-color: rgba(255,255,255,.2);
  }
}

.sparkline {position:relative;top:10px;}

.statcard-primary { background-color: $brand-primary; }
.statcard-success { background-color: $brand-success; }
.statcard-info    { background-color: $brand-info; }
.statcard-warning { background-color: $brand-warning; }
.statcard-danger  { background-color: $brand-danger; }
.statcard-secondary {background-color:$gray; }